<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.base.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.base.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.base.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackServlet</servlet-name>
        <servlet-class>controller.base.FeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPatientServlet</servlet-name>
        <servlet-class>controller.Patient.viewPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPatient</servlet-name>
        <servlet-class>controller.Patient.viewPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListPatient</servlet-name>
        <servlet-class>controller.Patient.ViewListPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>controller.Patient.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatient</servlet-name>
        <servlet-class>controller.Patient.DeletePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatient</servlet-name>
        <servlet-class>controller.Patient.UpdatePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoom</servlet-name>
        <servlet-class>controller.room.ViewRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>controller.room.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetail</servlet-name>
        <servlet-class>controller.room.ViewDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>controller.room.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoom</servlet-name>
        <servlet-class>controller.room.DeleteRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailPatient</servlet-name>
        <servlet-class>controller.Patient.ViewDetailPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTestPatient</servlet-name>
        <servlet-class>controller.Patient.AddTestPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.base.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPatient</servlet-name>
        <servlet-class>controller.Patient.ViewAllPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DischargePatient</servlet-name>
        <servlet-class>controller.Patient.DischargePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controller.base.UpdateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRoom</servlet-name>
        <url-pattern>/Room/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/Room/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetail</servlet-name>
        <url-pattern>/Room/viewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/Room/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoom</servlet-name>
        <url-pattern>/Room/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackServlet</servlet-name>
        <url-pattern>/FeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListPatient</servlet-name>
        <url-pattern>/Patient/view-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/Patient/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatient</servlet-name>
        <url-pattern>/Patient/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatient</servlet-name>
        <url-pattern>/Patient/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailPatient</servlet-name>
        <url-pattern>/Patient/view-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DischargePatient</servlet-name>
        <url-pattern>/Patient/discharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestPatient</servlet-name>
        <url-pattern>/Patient/add-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPatient</servlet-name>
        <url-pattern>/Patient/view-all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/Accounts/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <description>JSP configuration for the system </description>
            <url-pattern>/Accounts/accountDetail.jsp</url-pattern>
            <url-pattern>/Accounts/ChangePassword.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/forgot_password.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <!-- và các trang khác -->
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <!-- optional for admin GUI -->
        <jsp-property-group>
            <description>JSP configuration for the admin console
            </description>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/feedback.jsp</url-pattern>
            <url-pattern>/listfeedback.jsp</url-pattern>
            <url-pattern>/Patient/*</url-pattern>
            <url-pattern>/Room/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header2.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>imgPath</param-name>
        <param-value>assets/img/</param-value>
    </context-param>
</web-app>
